.gitignore
.DS_Store
.idea

composer.lock
vendor/*

nbproject/
src/.DS_Store
src/Portal/.DS_Store
src/Portal/AppBundle/.DS_Store
src/Portal/AppBundle/Resources/.DS_Store
web/.DS_Store
web/bundles/
app/cache/*
app/bootstrap.php.cache
app/logs/*
app/DoctrineMigrations/*
app/config/parameters.yml
