vendor
.gitignore
app/config/parameters.yml
.DS_Store
.idea
app/cache/*
app/bootstrap.php.cache
app/logs/*
composer.lock
nbproject/
src/.DS_Store
src/Portal/.DS_Store
src/Portal/AppBundle/.DS_Store
src/Portal/AppBundle/Resources/.DS_Store
web/.DS_Store
web/bundles/
.idea
app/DoctrineMigrations/*
