<form action="{{ path('PortalAppBundle_comment_create', { 'entry_id' : comment.entry.id } ) }}" method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>