{% extends '::base.html.twig' %}

{% block content %}
    <h2 class="p3">
        <span class="color-1">Create</span> new event
    </h2>

    {% if gravatar == false %}
    <p>
        It seems like your profile does not include Gravatar account's email address. With <a target="BLANK" href="http://www.gravatar.com">Gravatar</a>, you can link an email with your
        profile image so that it is same across different services. If you enable your Gravatar email in your profile page, your events
        will have your Gravatar icon on the listings.
    </p>
    {% endif %}

    {% include 'PortalAppBundle:Event:form.html.twig' with { 'form': form } %}
{% endblock content %}

{% block sidenav %}
    <h2 class="p3"><span class="color-1">Right</span> column</h2>
    <ul class="list-1">
        <li><a href="#">Link to something</a></li>
        <li><a href="#">Link to something</a></li>
    </ul>
    <div class="form-search">
        <h2><span class="color-1 editable">Some </span>text</h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
{% endblock sidenav %}