<form id="form" action="{{ path('PortalAppBundle_event_create') }}" method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <div class="btns">
        <a class="button" onclick="document.getElementById('form').submit()" href="#">Submit</a>
    </div>
</form>