{% extends 'PortalAppBundle::layout.html.twig' %}

{% block body %}
<div class="wrap block-2">
    <div class="col-1">
        <h2 class="p3"><span class="color-1">Latest</span> events</h2>
        {% for event in events %}
            <div class="wrap box-1 top-2">
                <a href="#"><img class="img-border img-indent" title="Click to view this user's profile" src="{{ gravatar('artur.gajewski@soprano.fi') }}"></a>
                <div class="extra-wrap">
                    <p class="p2"><strong>{{ event.title }}<br/>{{ event.created|date('h:iA') }}</strong></p>
                </div>
            </div> 
        {% else %}
            <p class="p2"><strong>No events found...</strong></p>
        {% endfor %}
    </div>       
    <div class="col-2">
        <h2 class="p3"><span class="color-1">Your</span> options</h2>
            <ul class="list-1">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="#">New event</a></li>
                    <li><a href="#">Your friends</a></li>
                {% endif %}
                <li><a href="#">Latest for you</a></li>
                <li><a href="#">Latest from you</a></li>
                <li><a href="#">Browse events</a></li>
                <li><a href="#">Browse categories</a></li>
            </ul>
            <div class="form-search">
                <h2><span class="color-1 editable">Find </span>user</h2>
                <form id="form-search" method="post">
                    <input type="text" value="Enter username" onBlur="if(this.value=='') this.value='Enter username'" onFocus="if(this.value =='Enter username' ) this.value=''"  />
                    <a href="#" onClick="document.getElementById('form-search').submit()" class="search_button">Search</a>
                </form>
            </div>

            <div class="form-search">
                <h2><span class="color-1 editable">Find </span>event</h2>
                <form id="form-search" method="post">
                    <input type="text" value="Enter event" onBlur="if(this.value=='') this.value='Enter event'" onFocus="if(this.value =='Enter event' ) this.value=''"  />
                    <a href="#" onClick="document.getElementById('form-search').submit()" class="search_button">Search</a>
                </form>
            </div>
    </div>
</div>
{% endblock %}