{% extends 'PortalAppBundle::layout.html.twig' %}

{% block title %}Create a new video post{% endblock%}

{% block body %}
    <h1>Create a new video post</h1>
    {% include 'PortalAppBundle:Post:form.html.twig' with { 'form': form } %}
{% endblock %}