{% extends '::cv.html.twig' %}

{% block content %}
    <dd class="clear"></dd>
    <dt class="nopagebreak">Project name</dt>
    <dd>
        <h2>From who</h2>
        <p class="event-date">Date</p>
        <ul>
            <p>High five comments from the user...</p>
        </ul>
    </dd>
{% endblock content %}